# Server Configuration
PORT=3001
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://test1:U1yup8EeHRzFNdum@test1.lbdo466.mongodb.net/?appName=test1no 
# For MongoDB Atlas, use: mongodb+srv://username:password@cluster.mongodb.net/microstack-auth

# Redis Configuration
REDIS_HOST=redis.railway.internal
REDIS_PORT=6379
REDIS_PASSWORD=awEcMewYByuqNjsKhryfBxYowKwTdaRz
# For Upstash Redis, use full URL: redis://default:password@host:port

# JWT Secrets (CHANGE THESE IN PRODUCTION!)
JWT_ACCESS_SECRET=72c80d214e6f21be4eb3c19a8bf7856c20f09c4aa2bf29b89219753a2f5590c1
JWT_REFRESH_SECRET=44a66f499ea8c9e5c2e6054e13b304f8a8764ebaa4f7a14d79b52e300780d8c7
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

# CORS (comma-separated allowed origins)
CORS_ORIGIN=http://localhost:3000,http://localhost:5173